#td1 {

	border: 2px solid red; border-radius: 25px; background-color: red; color: white; text-align: center;
}
#td2 {

	border: 2px solid green; border-radius: 25px; background-color: green; color: white; text-align: center;
}
#td3 {

	border: 2px solid yellow; border-radius: 25px; background-color: yellow; color: white; text-align: center;
}
#td21 {

	border: 3px solid blue; background-color: blue; 
}
#td22 {

	border: 3px solid blue; background-color: blue; text-align: center; color: white;
}
#td23 {

	border: 3px solid blue; background-color: blue; text-align: center; color: white;
}
#td31 {

	border: 3px solid #1E90FF; background-color: #1E90FF; text-align: center; color: white;
}
#td32 {

	border: 3px solid #1E90FF; background-color: #1E90FF; text-align: center; color: white;
}
#td33 {

	border: 3px solid #1E90FF; background-color: #1E90FF; text-align: center; color: white;
}
#td41 {

	border: 3px solid #1E90FF; background-color: #1E90FF; text-align: center; color: white;
}
#td42 {

	border: 3px solid #1E90FF; background-color: #1E90FF; text-align: center; color: white;
}
#td43 {

	border: 3px solid #1E90FF; background-color: #1E90FF; text-align: center; color: white;
}
#td51 {

	border: 3px solid #1E90FF; background-color: #1E90FF; text-align: center; color: white;
}
#td52 {

	border: 3px solid #1E90FF; background-color: #1E90FF; text-align: center; color: white;
}
#td53 {

	border: 3px solid #1E90FF; background-color: #1E90FF; text-align: center; color: white;
}
#a1 {

	border: 3px solid #DCDCDC; background-color: #DCDCDC; border-radius: 25%; text-align: center; color: grey;

}
#td61 {

	border: 3px solid blue; background-color: blue; text-align: center; color: white;
}
#td62 {

	border: 3px solid #1E90FF; background-color: #1E90FF; text-align: center; color: white;
}
#td63 {

	border: 3px solid #1E90FF; background-color: #1E90FF; text-align: center; color: white;
}
#td64 {

	border: 3px solid #1E90FF; background-color: #1E90FF; text-align: center; color: white;
}